<div class="mx-auto text-center">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="margin-bottom-md">Empathy maps</h2>

      <p id="notice"><%= notice %></p>

      <table>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">User</th>
            <th scope="col">Name</th>
            <th scope="col" colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @empathy_maps.each_with_index do |empathy_map, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= empathy_map.user.full_name %></td>
              <td><%= empathy_map.name %></td>
              <td><%= link_to 'Show', empathy_map %></td>
              <td><%= link_to 'Edit', edit_empathy_map_path(empathy_map) %></td>
              <td><%= link_to 'Destroy', empathy_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Empathy Map', new_empathy_map_path %>

    </div>
  </div>
</div>
