<p id="notice"><%= notice %></p>

<h1>Empathy Map Records</h1>

<table>
  <thead>
    <tr>
      <th>Empathy map</th>
      <th>Type</th>
      <th>Group</th>
      <th>Position</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empathy_map_records.each do |empathy_map_record| %>
      <tr>
        <td><%= empathy_map_record.empathy_map %></td>
        <td><%= empathy_map_record.type %></td>
        <td><%= empathy_map_record.group %></td>
        <td><%= empathy_map_record.position %></td>
        <td><%= empathy_map_record.text %></td>
        <td><%= link_to 'Show', empathy_map_record %></td>
        <td><%= link_to 'Edit', edit_empathy_map_record_path(empathy_map_record) %></td>
        <td><%= link_to 'Destroy', empathy_map_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empathy Map Record', new_empathy_map_record_path %>
